footer.footer 
    .container 
        .row.align-items-center 
            .col-9 
                .inner-policy 
                    ul 
                        li 
                            a(href="/") Pháp lý
                        li 
                            a(href="/") Trung tâm an toàn và quyền riêng tư
                        li 
                            a(href="/") Chính sách quyền riêng tư
                        li 
                            a(href="/") Cookie
                        li 
                            a(href="/") Giới thiệu Quảng cáo
                        li 
                            a(href="/") Hỗ trợ tiếp cận

            .col-3 
                .inner-copyright © 2024 Spotify NDC