header.header 
    .container 
        .row.align-items-center 
            .col-3 
                .inner-logo 
                    a(href="/topics")
                        img(src="/images/logo.png", alt="Logo Web")

            .col-9 
                .inner-menu 
                    ul 
                        li 
                            a(href="/topics" class="home-button") <i class="fa-solid fa-house"></i>
                        li
                            .inner-search 
                                <i class="fa-solid fa-magnifying-glass"></i>
                                input(type="text" placeholder="Bạn muốn phát nội dung gì?")
                                
                        li 
                            a(href="/songs/playlist") My Playlist