/* Header  */

.header {
    padding-top: 20px;
}

.header .inner-logo img {
    width: 80px;
    height: 80px;
    object-fit: contain;
    border-radius: 50%;
}

.header .inner-menu ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

.header .inner-menu ul li {
    margin-right: 30px;
}


.header .inner-menu ul li a {
    text-decoration: none;
    font-size: 20px;
    color: #e0e0e0;
    font-weight: 500;
}

/* Header  */

/* Body  */

body {
    background-color: #121212; /* Màu nền tối */
    color: #e0e0e0; /* Màu văn bản sáng */
}

/* Body  */


/* Footer  */

.footer {
    padding-bottom: 50px;
}

.footer .inner-policy ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0;
}

.footer .inner-policy ul a {
    text-decoration: none;
    color: #e0e0e0;
    font-size: 0.875rem;
    opacity: 0.5;
    font-weight: 450;
}

.footer .inner-copyright {
    font-weight: 500;
}

.footer .inner-policy ul a:hover {
    color: rgb(255, 255, 255);
    opacity: 1;
    transition: all 0.2s ease-in-out;
}

/* Footer  */

/* Page Topic */

.card {
    background-color: #121212;
    /* aspect-ratio: 2/3.5; */
    cursor: pointer;
}

.card img {
    width: 100%;
    aspect-ratio: 1/1.35;
    object-fit: cover;
}
 
.card .card-body {
    position: relative;
}

.card .card-body .card-title {
    font-weight: bold;
}

.card .card-body a {
    position: absolute;
    margin: 0;
    border: none;
    padding: 0;
    background-color: #121212;
    right: 15px;
    top: 7px;
    visibility: hidden;
}

.card .card-body a i {
    font-size: 48px;
    color: #1ED760;
    background-color: #121212;
}

.card:hover {
    background-color: #1a1a1a93;
    transition: all 0.2s ease-in-out;
}


.card:hover .card-body a{
    visibility: visible;
    animation: fadeInUp 0.2s;
    transition: all 0.5s cubic-bezier(0.0, 0.0, 0.5, 1.5);
}

.card .card-body a i:hover {
    color: rgb(88, 218, 133);
    transition: all 0.2s ease-in-out;
}

/* Page Topic */


/* Song  */

.song-item {
    display: flex;
    align-items: center;
}

.song-item .inner-image a img {
    width: 100px;
}

.song-item .inner-image a {
    margin-right: 20px;
}

.song-item .inner-content .inner-title a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 17px;
}

.song-item .inner-content .inner-like {
    color: #1ED760;
    font-weight: 500;
}

/* Song  */


