extends ../../layouts/default.pug 

block main 
    .topic-detail
        .container.my-3
            .row
                .col-12 
                    .inner-pre-detail
                        .topic-detail
                            img(src=topic.avatar, alt=topic.title)
                        .inner-info-music 
                            .inner-text Thể loại #{topic.title}
                            .inner-core-text Báo châu Á lý giải vì sao Sơn Tùng M-TP được mệnh danh là ‘Hoàng tử V-Pop’?
                            | Đan Thuỳ | 14/07/2021, 11:55
                            | Theo thống kê một tờ báo điện tử Việt Nam, Sơn Tùng M-TP đã trở thành ca sĩ Việt Nam đầu tiên đạt 8 triệu người đăng ký trên YouTube. Nam ca sĩ 27 tuổi này cũng là một trong những ca sĩ có thu nhập cao nhất Việt Nam, theo Popnable.

                            | Không ai biết chính xác mức cát–xê của Sơn Tùng mỗi show diễn là bao nhiêu nhưng một đạo diễn sân khấu kiêm nhà tổ chức sự kiện đã tiết lộ rằng anh là nam ca sĩ Việt Nam đầu tiên được trả “chín con số” VNĐ ( tương đương khoảng 43.400 USD), theo VTC.
                            |Bên cạnh các chương trình của mình, Sơn Tùng cũng kiếm được khoảng 43.600 USD mỗi tháng từ kênh YouTube có khoảng 9,4 triệu người đăng ký của mình. YouTubers.me ước tính giá trị tài sản ròng của nam ca sĩ vào khoảng 2,5 triệu USD.

                            |Sơn Tùng cũng sáng lập công ty giải trí M-TP của riêng mình, bên cạnh đó, nam ca sĩ này cũng là đại diện cho rất nhiều thương hiệu. Từ việc đại diện cho những nhãn hiệu này, Sơn Tùng kiếm được hàng trăm nghìn USD mỗi năm và có xu hướng sẽ còn tăng thêm theo từng năm.

                            |Vậy chính xác thì làm cách nào mà một triệu phú trẻ tuổi này lại có thể tạo dựng tên tuổi và đã tiêu tiền vào những việc gì?.

                            |Tạo ra những video âm nhạc 

                            |Người hâm mộ V-pop đã rất sốc trước số tiền lớn mà Sơn Tùng đã đầu tư cho MV Hãy trao cho anh được phát hành năm 2019. MV này đã thu hút được 232 triệu lượt xem và được quay tại Los Angeles (Mỹ) với sự góp mặt của rapper người Mỹ nổi tiếng Snoop Dogg và ca sĩ Madison Beer.


                    .inner-description !{topic.description}
                                